{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <title>Emotively </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
<!--
-->
<meta name="viewport" content="width=device-width, initial-scale=1"/>


<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/audioinput.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">

  </head>

<body>
 
  <div class="mapaudio">
    <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>

            <mask id="mask">
                <g id="maskGroup">
              </g>
            </mask>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" style="stop-color:#7fca7b;stop-opacity:1 "/>
                <stop offset="20%" style="stop-color:#81b2fc;stop-opacity:1" />
                <stop offset="50%" style="stop-color:#fdc3c1;stop-opacity:.3" />
                <stop offset="100%" style="stop-color:#ffffff;stop-opacity:0" />
            </linearGradient>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
    </svg>
    
<h1>In <a>Audio Disabled</a>, please allow the use of your microphone</h1>
</div>

     <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Emotively " width = "140px" height="80px">
            </a>

            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
          
              <li class="scroll-to-section"><a href="/log"> View Emotively Log</a></li>
              <li class="scroll-to-section"><a href="/profile">My Profile</a></li>
              <li class="scroll-to-section"><a class="active" href="/logout">Log out</a></li>
              <li><div class="gradient-button"><a href="" ><i class="fa fa-user"></i>  {{user.username}}</a></div></li> 
            </ul>        
          </nav>
        </div>
      </div>
    </div>
  
  </header>
  <!-- ***** Header Area End ***** -->
 
  <div >

      <div class="mainsection" data-wow-duration="1s" data-wow-delay="0.5s" >
        <img src="{% static 'images/interactions.png' %}" alt="">
        <div class="audioinputsection" >
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}" role="alert" style="height:50px">
            <strong> {{message}} </strong> 
            </div>
          {% endfor %}
          <form action="/detect" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
          <div class="container">
            
            <div class="form-group" style="width: 250px; height:80px; margin-left:250px; margin-top:20px;">
              <label for="audiofile" > <span style="background-color:#4b8ef1; color:#ffffff ;padding:5px; z-index:10001;">Upload Audio File</span></label>
              <input  type="file" name="audiofile" style="font-size:14px; margin-top:-15px; border-top:none; border-radius:0px;">
            </div>
        

            <h1 style="color:#4b8ef1; margin-left:55px; margin-top:-37px;" > <strong>Record Your Voice To Detect Current Emotion </strong></h1>
            <audio  name= "audio" id="recorder" muted hidden></audio>
            <div class="btn-recorder" style="display:flex; margin-top:20px;">
              <button type="button" id="start" >RECORD</button>
                <button type="button" id="stop" >STOP</button>
             
            </div>
          </div>

          <audio  name="audio" id="player" controls style="margin-top: 40px; margin-left:120px;" type="audio/mpeg"></audio> 
            <div class="inside" onclick="detectionresultopen()">
             <div class="btnarea" >
               <a class="gradient-button-detect" style="margin-top: 25px;margin-left:-20px;" > <i class="fa fa-circle" style="color:#ffffff"></i> <button   type="submit"  style="background-color:#4b8ef1;border:none;color:#ffffff">Detect My Emotion</button></a>
             </div>
            </div>
            <div class="gradient-button-detect" style="margin-left: 420px;margin-top:105px; background-color:yellow"> <i class="fa fa-check" ></i> 
              <a  href="/saveAudio" download="sample.wav" style="background-color:yellow; border:none;" id="submit">Save Recording</a>
            </div>
            </form>
           
            
            </div>
              
           
            </div>
            </div>
              
            </div>
          </div>
        </div>        
    
        <div>
          <div id="modal2" class="popupContainer"  style = "z-index: 1100; left:490px; margin-top:150px; opacity:0" >
            <div class="popupHeader">
                <span class="header_title">Detection Result</span>
                <a class="modal_close" id="modal_close2" href="/app" onclick = "detectionresultclose()"><i class="fa fa-times"></i></a>
            </div>
         
            <section class="popupBody" style="height: 200px;">
              {% if result == "Anger" %}
              <img src="{% static 'images/emoticons/angry.svg' %}" alt="" width = "120px" height = "120px">
              <div class="btnarea" style = "margin-left:20px; margin-top:15px;color:#4b8ef1; left:20px; cursor:none;">
                <div  ><a style = "font-size:16px; "><i class="fa fa-dot" ></i> Hey {{request.user}}, Why are you <strong> Angry? </strong> </a></div>
               </div>
               {% elif result == "Fear" %}
               <img src="{% static 'images/emoticons/fear.svg' %}" alt="" width = "120px" height = "120px">
               <div class="btnarea" style = "margin-left:70px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                 <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> You sound fearful.</a></div>
                </div>
                {% elif result == "Happy" %}
               <img src="{% static 'images/emoticons/happy.svg' %}" alt="" width = "120px" height = "120px">
               <div class="btnarea" style = "margin-left:70px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                 <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> You sound happy</a></div>
                </div>
                {% elif result == "Sad" %}
                <img src="{% static 'images/emoticons/sad.svg' %}" alt="" width = "120px" height = "120px">
                <div class="btnarea" style = "margin-left:30px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                  <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> Hey {{request.user}}, You sound sad.</a></div>
                 </div>
                 {% elif result == "Surprised" %}
                <img src="{% static 'images/emoticons/surprised.svg' %}" alt="" width = "120px" height = "120px">
                <div class="btnarea" style = "margin-left:30px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                  <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> Hey {{request.user}}, You sound surprised.</a></div>
                 </div>
                 {% elif result == "Disgust" %}
                <img src="{% static 'images/emoticons/disgust.svg' %}" alt="" width = "120px" height = "120px">
                <div class="btnarea" style = "margin-left:30px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                  <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> Hey {{request.user}}, You sound disgusted.</a></div>
                 </div>
                 {% elif result == "Neutral" %}
                <img src="{% static 'images/emoticons/neutral.svg' %}" alt="" width = "120px" height = "120px">
                <div class="btnarea" style = "margin-left:30px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                  <div  ><a style = "font-size:16px; "><i class="fa fa-check" ></i> Hey {{request.user}}, You sound Neutral.</a></div>
                 </div>
                {% else %}
               <img src="{% static 'images/emoticons/error.svg' %}" alt="" width = "120px" height = "120px">
               <div class="btnarea" style = "margin-left:70px; margin-top:20px;color:#4b8ef1; left:20px; cursor:none;">
                 <div  style="color: red;"><a style = "font-size:16px; "><i class="fa fa-dot"></i> {{result}}</a></div>
                </div>
              {% endif %}

            </section>
        </div>

        </div>
    
    </div>
   
  
    </div>

    <div>
      
    </div>


  </div>
  
  <script>
    class VoiceRecorder {
      constructor() {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          console.log("getUserMedia supported")
        } else {
          console.log("getUserMedia is not supported on your browser!")
        }
    
        this.mediaRecorder
        this.stream
        this.chunks = []
        this.isRecording = false
        
    
        this.recorderRef = document.querySelector("#recorder")
        this.playerRef = document.querySelector("#player")
        this.startRef = document.querySelector("#start")
        this.stopRef = document.querySelector("#stop")
        this.saveRef = document.querySelector("#save")
       

        this.startRef.onclick = this.startRecording.bind(this)
        this.stopRef.onclick = this.stopRecording.bind(this)
      
    
        this.constraints = {
          audio: true,
          video: false
        }
        
      }
    
      handleSuccess(stream) {
        this.stream = stream
        this.stream.oninactive = () => {
          console.log("Stream ended!")
        };
        this.recorderRef.srcObject = this.stream
        this.mediaRecorder = new MediaRecorder(this.stream)
        this.mediaRecorder.ondataavailable = this.onMediaRecorderDataAvailable.bind(this)
        this.mediaRecorder.onstop = this.onMediaRecorderStop.bind(this)
        console.log(this.mediaRecorder)
        this.recorderRef.play()
        this.mediaRecorder.start()
      }
    
      handleError(error) {
        console.log("navigator.getUserMedia error: ", error)
        alert("Microphone Access Disabled or Denied !")
      }
      
      onMediaRecorderDataAvailable(e) { this.chunks.push(e.data) 
        console.log("onMediaRecorderDataAvailable")
      }
      
      onMediaRecorderStop(e) { 
          const blob = new Blob(this.chunks, { mimeType: 'audio/vnd.wav' })
          const audioURL = window.URL.createObjectURL(blob)
          this.playerRef.src = audioURL
          const audio = new Audio(audioURL)
          const reader = new FileReader();
          reader.readAsDataURL(blob);
          submit.href = audioURL
          reader.onload = () => {
            const base64AudioMessage = reader.result.split(',')[1];
            fetch('/save', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json','X-CSRFToken':csrf },
              body: JSON.stringify({ audio: base64AudioMessage })
            })
          };
          
          this.chunks = []
          this.stream.getAudioTracks().forEach(track => track.stop())
          this.stream = null
         
      }
    
      startRecording() {
        if (this.isRecording) return
        this.isRecording = true
        this.startRef.innerHTML = 'RECORDING!'
        this.playerRef.src = ''
        navigator.mediaDevices
          .getUserMedia(this.constraints)
          .then(this.handleSuccess.bind(this))
          .catch(this.handleError.bind(this))
      }
      
      stopRecording() {
        if (!this.isRecording) return
        this.isRecording = false
        this.startRef.innerHTML = 'RECORD'
       
        this.recorderRef.pause()
        this.mediaRecorder.stop()
        console.log("MediaRecorder stopped")
        
      } 

      submit(){
            const reader = new FileReader();
            reader.readAsDataURL(audio.audioBlob);
            reader.onload = () => {
              const base64AudioMessage = reader.result.split(',')[1];
              fetch('save/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json','X-CSRFToken':csrf },
                body: JSON.stringify({ audio: base64AudioMessage,title:title })
              })
            };
        }
      
    }
    
    window.voiceRecorder = new VoiceRecorder()


  

    
    
    
  </script>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script>var csrf='{{csrf_token}}';</script>

  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/popup.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>