
{%load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <title>Emotively </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">

<!--


-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

<body >

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'images/white-logo.png' %}" alt="Emotively " width = "140px" height="80px">
            </a>

            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#guide">Guide</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
            
              <li><div class="gradient-button"><a id="modal_trigger" href="#modal" ><i class="fa fa-sign-in-alt" ></i> Try Now</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <a class="modal_close" id="modal_close"><i class="fa fa-times"></i></a>
    </div>

    <section class="popupBody">
        {% block main %}
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form action="login" method="POST" >
                {% csrf_token %}
                <label>Email / Username</label>
                <input type="text" name="username"/>
                <br />

                <label>Password</label>
                <input type="password" name="password" />
                <br />

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form action= "register" method="POST">
              {% csrf_token %} 
                <label for="username">Username</label>
                <input type="text"  name= "username"/>
                <br />

                <label>Email Address</label>
                <input type="email" name="email" />
                <br />

                <label>Password</label>
                <input type="password" name="password1"/>
                <br />

                <label>Confirm Password</label>
                <input type="password" name="password2" />
                <br />
                {% include  'messages.html' %}
                
                {% block alert-content %}

                {% endblock alert-content %}

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <!-- <div class="one_half last"><a href="register" class="btn btn_red">Register</a></div> -->
                    <div class="one_half last"> <button type= "submit" class="btn btn_red" > Register</button></div>
                   
                </div>
               
            </form>
        </div>
        {% endblock %}
    </section>
</div>

<section id="content">
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">

    
    {% include  'messages.html' %}
                
    {% block content %}

    {% endblock content %}
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-14" style = "color: #fff;">
                    <h3>Find Out How You Are Feeling</h3>
                    <p>Emotively is an AI Powered emotion detection system that find out <br> how you feel based  on your speech attributes and use of words.</p>
                  </div>
                  <div class="col-lg-12" >
                    <div class="white-button first-button scroll-to-section" id="modal_trigger" href="#modal">  
                    <a id='menu-trigger' href="#modal"  >
                        <i class="fa fa-user">&nbsp;&nbsp; </i> Become a Member
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/slider-dectrans.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Automated <em>Learning &amp; Feature Extraction</em> Techniques</h4>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
            <p> One of the finest applications of AI in sentiment analysis you will find. 
        </div>
      </div>
    </div>
    <div class="container" id="guide">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Step 1</h4>
            <p>Join us by creating an emotively account. </p>
            <div class="text-button">
              <a href="#top">Sign Up/Log In <i class="fa fa-arrow-right"></i></a>
            </div>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Step 2 </h4>
            <p>Interact with the system to send in the input for detection. </p>
            <div class="text-button">
             
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Step 3 </h4>
            <p>Get to know the AI powered emotion detection result.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Step 4</h4>
            <p>Help build the system stronger by sending leaving us your feedbacks and data upon your approval.</p>
            <div class="text-button">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Why We Do</h4>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Dataset Collection</a></h4>
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#"> Feedback &amp; Support</a></h4>
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Real Time Detection</a></h4>
               
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#"> AI Powered </a></a></h4>
                
              </div>
            </div>
            <div class="col-lg-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
            
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'images/about-right-dec.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Send us your concerns &amp; and queries</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Message..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Send Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Kathmandu , Nepal </p>
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">emotively@company.co</a></p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Guide</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <img src="{% static 'images/EmotivelyWhite.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Emotively All Rights Reserved. 
        </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  </section>
  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/popup.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>


  

</body>
</html>